<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="server.mapper.LoginInfoMapper">
    <resultMap id="LoginInfoMap" type="LoginInfoDto">
        <id property="id" column="id"/>
        <result property="loginId" column="loginId"/>
        <result property="loginPassword" column="loginPassword"/>
        <result property="salt" column="salt"/>
    </resultMap>

    <select id="getLoginInfoDto" resultMap="LoginInfoMap">
        select *
        from LoginInfo
        where id = #{id}
    </select>
</mapper>
