<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="server.mapper.UserMapper">
    <resultMap id="UserMap" type="UserDto">
        <id property="id" column="user_id"/>
        <result property="name" column="user_name"/>
        <association property="addressDto" javaType="AddressDto">
            <id property="id" column="address_id"/>
            <result property="address" column="address_address"/>
            <result property="distance" column="address_distance"/>
        </association>
        <association property="userTypeDto" javaType="UserTypeDto">
            <id property="id" column="userType_id"/>
            <result property="type" column="userType_type"/>
        </association>
        <association property="loginInfoDto" javaType="LoginInfoDto">
            <id property="id" column="loginInfo_id"/>
            <result property="loginId" column="loginInfo_loginId"/>
            <result property="loginPassword" column="loginInfo_loginPassword"/>
            <result property="salt" column="loginInfo_salt"/>
        </association>
    </resultMap>

    <select id="getUserDto" resultMap="UserMap">
        SELECT
            user.id AS user_id,
            user.name AS user_name,
            address.id AS address_id,
            address.address AS address_address,
            address.distance AS address_distance,
            userType.id AS userType_id,
            userType.type AS userType_type,
            loginInfo.id AS loginInfo_id,
            loginInfo.loginId AS loginInfo_loginId,
            loginInfo.loginPassword AS loginInfo_loginPassword,
            loginInfo.salt AS loginInfo_salt
        FROM
            User user
                LEFT JOIN
            Address address ON user.addressId = address.id
                LEFT JOIN
            UserType userType ON user.userTypeId = userType.id
                LEFT JOIN
            LoginInfo loginInfo ON user.loginInfoId = loginInfo.id
        WHERE
            user.id = #{id};  -- 특정 사용자 ID로 필터링 (필요에 따라 수정)
    </select>
</mapper>
