<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
    <!--mapper에서 매칭할 parmeter Type 별칭 설정-->
    <typeAliases>
        <typeAlias type="shared.dto.AddressDto" alias="AddressDto"/>
        <typeAlias type="shared.dto.UserTypeDto" alias="UserTypeDto"/>
        <typeAlias type="shared.dto.LoginInfoDto" alias="LoginInfoDto"/>
        <typeAlias type="shared.dto.UserDto" alias="UserDto"/>
    </typeAliases>


    <environments default="development">
        <!-- environment id를 구분하여 연결할 DB를 여려개 구성할 수 도 있음 -->
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url"
                          value="jdbc:mysql://dksysd-home-server.duckdns.org:3306/DormitoryManagementSystem"/>
                <property name="username" value="dormitoryAdmin"/>
                <property name="password" value="0000"/>
            </dataSource>
        </environment>

    </environments>

    <mappers>
        <mapper resource="mybatis/mapper/AddressMapper.xml"/>
        <mapper resource="mybatis/mapper/UserTypeMapper.xml"/>
        <mapper resource="mybatis/mapper/LoginInfoMapper.xml"/>
        <mapper resource="mybatis/mapper/UserMapper.xml"/>
    </mappers>
</configuration>